{
  "extends": "airbnb",
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": ["error", "as-needed"],
    "react/prop-types": "off"
  }
}
