{
  "env": {
    "cypress/globals": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:import/recommended", "plugin:import/typescript", "plugin:prettier/recommended"],
  "globals": {
    "BlobPart": true,
    "JQuery": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["import", "cypress", "@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/no-shadow": ["error"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never"
      }
    ],
    "prettier/prettier": "error",
    "arrow-parens": ["error", "as-needed"],
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "max-len": ["error", { "code": 120 }],
    "no-shadow": "off",
    "no-unused-vars": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "object-curly-newline": ["error", { "consistent": true }]
  },
  "settings": {
    "import/extensions": [".ts"]
  }
}
