{
  "extends": "airbnb-base",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",

    "arrow-parens": ["error", "as-needed"],
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "max-len": ["error", { "code": 120 }],
    "no-use-before-define": ["error", { "functions": false }]
  },
  "globals": {
    "Cypress": true,
    "cy": true,
    "DataTransfer": true
  }
}
