<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>cypress-file-upload example</title>
  <script src="./index.js"></script>
</head>

<body ng-app="app">
  <div ng-controller="Upload">
    <h4>Upload on file select</h4>
    <button type="file" ngf-select="uploadFiles($files, $invalidFiles)" accept="image/*" ngf-max-height="1000"
      ngf-max-size="1MB" ngf-multiple="true" data-cy="file-input">
      Select File</button>
    <br><br>
    File(s):
    <div data-cy="file-result-valid">
      <li ng-repeat="f in files" style="font:smaller">
        {{f.name}}
      </li>
    </div>
    <div data-cy="file-result-invalid">
      <li ng-repeat="f in invalidFiles" style="font:smaller">
        {{f.name}} {{f.$error}} {{f.$errorParam}}
      </li>
    </div>
    {{errorMsg}}

  </div>
</body>

</html>
