<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>cypress-file-upload example</title>
  <script src="./index.js"></script>
</head>

<body ng-app="app">
  <div ng-controller="Upload">
    <h4>Upload on file select</h4>
    <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
    accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" data-cy="file-input">
    Select Files</button>
    <br><br>
    Files:
    <ul>
      <li ng-repeat="f in files" style="font:smaller" data-cy="file-result">{{f.name}} {{f.$errorParam}}
      </li>
      <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
      </li> 
    </ul>
    {{errorMsg}}

  </div>
</body>

</html>
