{
  "root": true,
  "extends": "airbnb",
  "plugins": ["cypress", "prettier"],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": ["error", "as-needed"]
  }
}
